
.App { 
  font-size: calc(1rem + 2vmin);
 
}

.increment{
  color:rgb(118,229,94);
}
.decrement{
  color:rgb(228,81,89);
}
/* .bi-chevron-right{
  line-height: normal;
  font-size: 0.8rem;
} */
.sidebar .nav-item {
  position: relative;
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}
table th{
  font-size:var(--fs-0)
}
table td{
  font-size:var(--fs-1)
}

.icon-wrapper{
  padding:0.5rem;
  font-size:var(--fs-2);
  background-color:rgb(67,69,73);
  color:rgb(184,186,190) !important;
  
}
/* .icon-wrapper .icon{
  height:0.5rem;
  width: 0.5rem;
} */
.rounded-circle{
  border-radius: 50%;
}
.icon-img{
  width:var(--fs-4);
  height:var(--fs-4);
 
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
}

.topbar {
  height: 4.375rem;
}
.topbar .nav-item .nav-link {
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.topbar .nav-item .nav-link:focus {
  outline: none;
}

.feedback-card{
  -ms-overflow-style:initial;
}
